<%- include('partials/header') -%>



<div id="client-cat-container" class="container-fluid">
    <table class="table table-light table-hover">
        <thead>
          <tr>
            <th scope="col">All categories</th>
          </tr>
        </thead>
      
        <% categories.forEach(category => { %>
          <tbody>
              <tr>
                <td colspan="3"><%= category.category %> <button class="btn btn-outline-primary btn-sm client-cat-product-count"><%= category.products.length %></button></td> 
              </tr>   
          </tbody>
      <%  })  %>  
    </table>
</div>

















<%- include('partials/footer') -%>