<%- include('partials/header') -%>




<form action="/vendor-add-product" enctype="multipart/form-data"  method="post">

    

    <label for="">Name of Product</label><br>
    <input type="text" name="productName" required><br>

    <label for="">Price</label><br>
    <input type="text" name="productPrice" required><br>

    <label for="">Category</label><br>
    <input type="text" name="category" required><br>
    <br>
    <label for="">Upload Image</label><br>
    <input type="file" name="imageFile" required><br>
    <br>

    <label for="">Vendor</label><br>
    <input type="text" name="vendor" required><br>
    <br>


    <button type="submit">Submit</button>

    <h1><%= status %></h1>
    
</form>



















<%- include('partials/footer') -%>