*{
    border : border-box;
}

body {
    background-color : #F2FCFC;
}

.font {
    font-family: 'Montserrat', sans-serif;
}

.nav-background-color {
    background-color : white;
    box-shadow : rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Home page */

.home-header-text {
    padding : 2% 0;
    text-align : center;
}

.custom-card-img-styles {
    width : 150px;
    height: 150px;
    object-fit: cover;
    margin : 0 auto;
}

.custom-card-box-shadow:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.home-collections-dashboard-top {
    width : 20vw;
    position : fixed;
    padding : 10px;
    margin-left : 40px;
}

.home-collections-dashboard-item {
    margin : 10px;
}

.all-cat-link {
    text-decoration: none;
}

.home-products-container {
    width : 70vw;
    margin-left : 20vw;
}

.home-product-item {
    margin : 4px 35px;
}

/* Product Description */

.pd-return-button {
    margin : 5% 0 5% 5%;
}

/* client categories page */

.client-cat-product-count {
    margin-right : 20px;
}


#client-cat-container {
    width : 80vw;
    position : relative;
    top : 10vh;
}

/* Vendor-all-products */

.vendor-all-products {
    width : 80vw;
    margin-top : 10vh;
}

.add-product-btn-link {
    text-decoration: none;
}

.add-product-btn {
    margin : 2%;
}

.total-products-btn {
    position : relative;
    left : 60%;
}

.vendor-all-products-form {
    width : 55%;
    display : flex;
    justify-content: space-between;
    
}

.vendor-add-a-product-form {
    display: inline;
}

.action-item {
    margin-right : 10px;
}

.vendor-product-image{
    width : 100px;
    margin-left: 10px;
}

/* Vendor-add-product */

.vendorAddProductForm {
    display : flex;
    justify-content: center;
    align-content: center;
    margin-top : 15vh;
}

